body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
h1, .navbar-brand {
    font-family: 'Rowdies Light', sans-serif;
}
.navbar {
    background-color: #6c3bf2;
    color: #feffc5;
}
.navbar-brand {
    color: #feffc5 !important;
}
.navbar-text {
    color: #feffc5;
}
#map {
    height: calc(100vh - 56px); /* Adjust for navbar height */
}
#credits {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}
#login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
}
#login .card {
    width: 400px;
}